<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="trickandroid.cablevasul">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="27" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".ActivityLogin.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityArea.AreaActivity"
            android:label="@string/title_activity_area"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".ActivityCustomerList.Activities.CustomerListActivity"
            android:label="@string/title_activity_customer_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityCustomerList.Activities.DetailsActivity"
            android:label="@string/title_activity_details"
            android:parentActivityName=".ActivityCustomerList.Activities.CustomerListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="trickandroid.cablevasul.ActivityCustomerList.Activities.CustomerListActivity" />
        </activity>
        <activity
            android:name=".ActivityCustomerList.Activities.NewConnectionActivity"
            android:label="@string/title_activity_new_connection"
            android:parentActivityName=".ActivityCustomerList.Activities.CustomerListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="trickandroid.cablevasul.ActivityCustomerList.Activities.CustomerListActivity" />
        </activity>
        <activity
            android:name=".ActivityDailyList.DailyListActivity"
            android:label="@string/title_activity_daily_list"
            android:parentActivityName=".ActivityArea.AreaActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="trickandroid.cablevasul.ActivityArea.AreaActivity" />
        </activity>
    </application>

</manifest>